<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="CONSOLE_LOG_PATTERN" value="%red(%date{yyyy-MM-dd HH:mm:ss.SSS}) %yellow([%thread]) %highlight(%-5level) %cyan(%logger{50}:%green(%line)) %blue(%X{TRACE_ID})- %magenta(%m%n)"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>